## Add any new environment variables here so that other developers are aware of them

DB_HOST =
DB_PORT =
DB_USER =
DB_PASSWORD =
DB_NAME =

ACCESS_TOKEN_EXPIRY = 60
SECRET_KEY = "token secret"
ALGORITHM = "HS256"

MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SERVER="smtp.gmail.com"
MAIL_FROM_NAME="Learnify"
MAIL_FROM=
FRONTEND_BASE_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=