body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

table[role="presentation"] {
    width: 100%;
}

.header {
    background-color: #E1D6D6;
    height: 7.625rem;
    text-align: center;
}

.header h2 {
    color: #121a26;
    font-size: 1.5rem;
    font-weight: 600;
}

.footer {
    background-color: #F3EFEF;
    padding: 2rem 3rem;
    text-align: center;
}

.footer hr {
    border: 1px dashed #969696;
    margin-bottom: 1.5rem;
}

.footer p {
    color: #5B5B5D;
    font-size: 0.875rem;
    font-weight: 400;
}

.footer a {
    color: #111;
    font-weight: 600;
    text-decoration: underline;
}
